.nosotros{
    h2{
        font-size: 20px;
        font-family: $bold;
        color: $cornflower-blue;

        @include media-min($large-desktop){
            font-size: 25px;
        }

        @include media-max($tablet){
            text-align: left!important;
        }
    }

    p{
        font-size: 18px;
        line-height: 20px;
        font-family: $light;
        letter-spacing: 1.4px;
        color: $cornflower-blue;

        @include media-min($large-desktop){
            font-size: 20px;
            line-height: 20px;
        }

        @include media-max($tablet){
            text-align: left!important;
        }
    }
}