.hero-carousel{
    height: calc(100vh - 80px);

    .et_pb_fullwidth_header_container{
        margin-top: 15vh;
    }

    .header-content{
        display: flex;
        padding-right: 0;
        align-items: flex-end;
        flex-direction: column;

        .et_pb_module_header{
            order: 2;
            width: 646px;
            margin-bottom: 45px;
            font-family: $medium;
        }
    
        .et_pb_fullwidth_header_subhead{
            order: 1;
            margin-bottom: 20px;
            font-family: $light-italic;
        }

        .et_pb_button_one{
            @include cta-button($white);
            order: 3;
            margin-left: auto;
            display: block!important;
        }
    }
}