.merbership-section{
    display: flex;
    align-items: center;

    .et_pb_row_1{
        display: flex;
        align-items: center;
    }

    .membership-content-left{
        .et_pb_blurb_content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .et_pb_blurb_container{
                order: 1;
            }

            .et_pb_blurb_container .et_pb_module_header{
                color: $white;
                font-size: 60px;
                font-family: $bold;
                margin-bottom: 45px;
                letter-spacing: 2.5px;
            }

            .et_pb_blurb_container .et_pb_blurb_description{
                color: $white;
                font-size: 36px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 45px;
                font-family: $medium;
                letter-spacing: 1.5px;
            }

            .et_pb_main_blurb_image{
                order: 2;

                .et-pb-icon{
                    color: $white;
                    font-size: 46px;
                }
            }
        }
    }

    .membership-content-right{
        .et_pb_text_inner{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }

        .et_pb_text_inner p{
            color: $white;
            font-size: 24px;
            line-height: normal;
            letter-spacing: 1px;
            text-align: justify;
            font-family: $regular;
        }

        .cta-btn{
            @include cta-button($white, $transparent, $white);
            margin-top: 25px;
        }
    }
}