.testimonials-section{
    height: 100vh;

    .et_pb_slider .et_pb_slide{
        height: 100vh;
    }
}

.testimonials-section-overlay{
    height: 100vh;
    margin-top: -100vh;
    background-color: transparent;
}