.top-rank-section{
    .top-rank-text{
        padding: 0 21.5%;

        @include media-max($tablet){
            padding: 0 10px;
        }

        .subtitle{
            color: $white;
            font-weight: 500;
            letter-spacing: 2px;
            margin-bottom: 50px;
            padding: 26px 0 26px 50px;
            font-family: $medium-italic;
            background-color: $cornflower-blue;
        }

        .title{
            font-size: 48px;
            padding-left: 50px;
            font-family: $bold;
            margin-bottom: 30px;
            letter-spacing: 0.67px;
            color: $cornflower-blue;
            border-bottom: solid 5px $cornflower-blue;
        }

        .content{
            font-size: 24px;
            font-weight: 300;
            padding-left: 50px;
            font-family: $light;
            letter-spacing: 1px;
            margin-bottom: 45px;
        }

        .cta-btn{
            @include cta-button();

            @include media-max($tablet){
                margin: 0 auto;
            }
        }
    }

    .top-rank-carousel{
        .owl-nav{
            @include media-max($tablet){
                margin-top: -15px;
            }
        }

        .layer-content{
            top: 100px;

            @include media-max($tablet){
                top: 0;
            }

            .wcps-items-title a{
                font-size: 48px;
                font-family: $bold;
                margin-bottom: 30px;
                letter-spacing: 0.67px;
                color: $cornflower-blue;

                @include media-max($tablet){
                    font-size: 24px;
                }
            }

            .wcps-items-excerpt{
                font-size: 24px;
                font-weight: 300;
                font-family: $light;
                letter-spacing: 1px;
                margin-bottom: 15px;

                @include media-max($tablet){
                    font-size: 18px;
                }
            }

            .wcps-items-price{
                font-size: 24px;
                font-family: $bold;
                margin-bottom: 30px;
                letter-spacing: 0.67px;
                color: $cornflower-blue;

                @include media-max($tablet){
                    font-size: 24px;
                }
            }

            .add_to_cart_button{
                @include cta-button();
            }

            .added_to_cart{ display: none; }
        }
    }
}