.contacto{
    h2{
        color: $white;
        font-size: 35px;
        font-family: $bold;
        margin-bottom: 15px;

        @include media-min($large-desktop){
            font-size: 40px;
        }
    }

    h3{
        color: $white;
        font-size: 27px;
        line-height: 30px;
        font-family: $regular;

        @include media-min($large-desktop){
            font-size: 30px;
        }
    }

    input,
    textarea{
        font-size: 20px;
        font-family: $light;
        color: $cornflower-blue;
        background-color: $white!important;
    }

    p[data-type="email"]{
        width: 60%;
    }

    .et_contact_bottom_container{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        p{ 
            color: $white;
            font-family: $light;
        }

        button{
            @include cta-button($white, $white);
        }
    }

    .et-pb-contact-message{
        color: $white;
        font-family: $light;

        p{
            color: $white;
            text-align: center;
            font-family: $light;
        }
    }
}