@font-face {
    font-family: "HelveticaNeueLTStd-BdIt";
    src: url("../fonts/HelveticaNeueBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueBoldItalic.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueBoldItalic.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueBoldItalic.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueBoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-Bd";
    src: url("../fonts/HelveticaNeueBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueBold.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueBold.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueBold.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-It";
    src: url("../fonts/HelveticaNeueItalic.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueItalic.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueItalic.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueItalic.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-LtIt";
    src: url("../fonts/HelveticaNeueLightItalic.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueLightItalic.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueLightItalic.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueLightItalic.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueLightItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-Lt";
    src: url("../fonts/HelveticaNeueLight.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueLight.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueLight.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueLight.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueLight.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueLight.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-MdIt";
    src: url("../fonts/HelveticaNeueMediumItalic.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueMediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueMediumItalic.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueMediumItalic.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueMediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueMediumItalic.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueMediumItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-Md";
    src: url("../fonts/HelveticaNeueMedium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueMedium.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueMedium.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueMedium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueMedium.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueMedium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-Roman";
    src: url("../fonts/HelveticaNeueRegular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/HelveticaNeueRegular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/HelveticaNeueRegular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/HelveticaNeueRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/HelveticaNeueRegular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/HelveticaNeueRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }