#main-footer{
    padding: 0;
    display: flex;
    background-color: #080e14;
    justify-content: space-between;

    @include media-max($tablet){
        flex-direction: column;
    }
}

.home #main-footer{
    height: 257px;

    @include media-max($tablet){
        height: auto;
    }

    #footer-bottom{
        padding: 0;
        display: flex;
        align-items: center;
    }

    #et-footer-nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}

#et-footer-nav{
    flex: 1;
    order: 2;
}

#footer-bottom{
    flex: 1;
    order: 1;
    display: flex;
    justify-content: flex-start;

    .et-social-icons{
        margin-left: 35%;
    }
}

#menu-footer{
    display: flex;
    flex-wrap: wrap;
    padding-right: 20%;
    justify-content: flex-end;

    .menu-item:nth-last-child(1){
        padding-right: 0;
    }

    .menu-item a{
        font-family: $medium;
        
        @include media-min($large-desktop){
            font-size: 21px;
            line-height: normal;
            letter-spacing: 1px;
        }
        
    }
}