@mixin media-max($width){
	@media screen and (max-width: $width){
		@content;
	}
}

@mixin media-min($width){
	@media screen and (min-width: $width){
		@content;
	}
}

@mixin media-between($min-width, $max-width){
	@media screen and (min-width: $min-width) and (max-width: $max-width){
		@content;
	}
}

@mixin cta-button($bcolor: $cornflower-blue, $bgc: $white, $color: $cornflower-blue){
	font-size: 24px;
	letter-spacing: 1px;
	font-family: $regular;
	color: $color!important;
	display: block!important;
	padding: 7px 24px!important;
	border-radius: 8px!important;
	width: fit-content!important;
	background-color: $bgc!important;
	border: 2px solid $bcolor!important;

	&:after{
		content: ''!important;
	}
}