@mixin media-max($width){
	@media screen and (max-width: $width){
		@content;
	}
}

@mixin media-min($width){
	@media screen and (min-width: $width){
		@content;
	}
}

@mixin media-between($min-width, $max-width){
	@media screen and (min-width: $min-width) and (max-width: $max-width){
		@content;
	}
}

@mixin cta-button($bcolor: $cornflower-blue, $bgc: $white, $color: $cornflower-blue){
	font-size: 24px;
	letter-spacing: 1px;
	font-family: $regular;
	height: 60px!important;
	width: 239px!important;
	display: flex!important;
	color: $color!important;
	border-radius: 8px!important;
    align-items: center!important;
	background-color: $bgc!important;
	border: 2px solid $bcolor!important;
    justify-content: center!important;

	&:after{
		content: ''!important;
		display: none!important;
	}

	@include media-min($large-desktop){
		height: 80px!important;
		width: 239px!important;
	}

	&:hover{
		padding: 0;
	}
}