/* Colors */
$white: #ffffff;
$navbar: #080e14;
$mercury: #E9E9E9;
$cornflower-blue: #0b1016;
$transparent: transparent;

/* Fonts */
$bold: HelveticaNeueLTStd-Bd;
$light: HelveticaNeueLTStd-Lt;
$italic: HelveticaNeueLTStd-It;
$medium: HelveticaNeueLTStd-Md;
$regular: HelveticaNeueLTStd-Roman;
$bold-italic: HelveticaNeueLTStd-BdIt;
$light-italic: HelveticaNeueLTStd-LtIt;
$medium-italic: HelveticaNeueLTStd-MdIt;

/* Z index values */
$z_index_1: 1;
$z_index_2: 10;

/* Max Media Querys */

$cell: 479px;
$tablet: 980px;
